.photo-gallery{
    padding: 50px;
    text-align: center;
}

.gallery-grid{
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 20px;

    margin-top: 30px;
}

.gallery-grid img{
    width: 100%;
    height: 300px;

    object-fit: cover;

    border-radius: 10px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.15);

    transition: 0.3s;
}

.gallery-grid img:hover{
    transform: scale(1.02);
}